

body {
    width: 99%;
    background-image: url(https://image.freepik.com/free-vector/abstract-diagonal-lines-striped-orange-background_78474-381.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: 2500px;
    text-align: center;
    color: #fff;
  }

