#top{
    font-family: Tahoma;
    background: #ff6c00;
    margin: 1;
    background-image: url(https://img3.akspic.ru/originals/9/3/0/4/6/164039-galaktika_twitch_banner-podergivanie-veb_banner-potokovoe_multimedia-gejmer-1920x1080.jpg);
}

body {
    width: 99%;
    background-image: url(https://img3.akspic.ru/originals/9/3/0/4/6/164039-galaktika_twitch_banner-podergivanie-veb_banner-potokovoe_multimedia-gejmer-1920x1080.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: 3000px;
    text-align: center;
    color: #fff;
  }

h1 {
    cursor: help;
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 287px;
    border-bottom: 3px;
}
 


.group {
    margin: 10px;
    padding: 3px;
}

input {
    margin-top: 1px;
    height: 40px;
    width: 450px;
    border-radius: 20/20px;
    border: none;
}
